@using GroupTrip.Shared.Models
@page "/groupdetails/{id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Group: @_group.Name</h1>

@if (_group == null)
{
  <p><em>Loading...</em></p>
}
else
{

  <table class='table'>
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Name</td>
      <td>@_group.Name</td>
    </tr>
    <tr>
      <td>Trip</td>
      <td>@_trip.Location</td>
    </tr>
    <tr>
       <td>Members</td>
    </tr>
    </tbody>
  </table>
}

@functions {
  [Parameter]
  string id { get; set; }
  Group _group = new Group();
  Trip _trip = new Trip();

  protected override async Task OnInitAsync()
  {
    _group = await Http.GetJsonAsync<Group>("/api/Groups/Details/"+id);
    _trip = await Http.GetJsonAsync<Trip>("/api/Trips/Details/" + _group.TripId);
  }

  async Task DeletePerson(int personId)
  {
    var url = "/api/Persons/Delete/" + id;
    await Http.DeleteAsync(url);
  }
}